apiVersion: v1
kind: Service
metadata:
  name: api-service-a
  labels:
    app: api-service-a
spec:
  type: ClusterIP
  selector:
    app: service-a
  ports:
  - protocol: TCP 
    port: 8000
    targetPort: 8000
